body {
	padding: 0;
	margin: 0;
}

/*------------------------------------*/
header {
	font-family: 'Helvetica Neue';
}

footer {
	text-align: center;
	background: url(img/MapOfTheUnexploredBrandMarkGrey.svg) no-repeat top center;
	background-size: 3em;
	padding-top: 3em;
}

.branding {
	color: #f6f8fb;
	background: #c12a2a;
	box-sizing: border-box;
		padding: .25em;
		width: 50%;
		margin-left: 15%;
		display: inline-block;
}

.description {
		display: inline-block;
		width: 25%;
}

h1, h2 {
	font-weight: 100;
	margin: 0;
	line-height: .95em;
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 1.5em;
	letter-spacing: .03em;
}

h4 {
	font-weight: 100;
	background: #eee;
}

.font-name {
	font-weight: 300;
	color: #222;
}

.inactive span {
	display: none;
}

#iosfonts ul {
	margin-left: 0;
}

#iosfonts li {
	margin-bottom: 1em;
	list-style-type: none;
}

li span {
	color: #aaa;
	padding-top: .5em;
	padding-bottom: .5em;
}

.face-name {
	color: #555;
}

#iosfonts li:hover {
	background: #fafafa;
}

#iosfont li:hover h4 {
	color: #111;
	background: #aaa;
}

#iosfonts li div.row:hover {
	background: #f4f4f4;
}
