h4 {
	font-weight: 100;
	background: #eee;
}

h4 small {
	color: #888;
	font-weight: 500;
}

.font-name {
	font-weight: 300;
	color: #222;
}

.inactive span {
	opacity: .4;
}

.unavailable {
	opacity: .4;
	text-decoration: line-through;
}

.available {
	color: #444;
}

#iosfonts ul {
	margin-left: 0;
}

#iosfonts li {
	margin-bottom: 1em;
	list-style-type: none;
}

li span {
	color: #aaa;
	padding-top: .5em;
	padding-bottom: .5em;
}

.face-name {
	color: #555;
}

#iosfonts li:hover {
	background: #fafafa;
}

#iosfont li:hover h4 {
	color: #111;
	background: #aaa;
}

#iosfonts li div.row:hover {
	background: #f4f4f4;
}

